.appContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.screensContainer {
  display: flex;
  width: 300%;
  height: calc(100vh - 24px); /* Вычитаем высоту строки состояния */
  margin-top: 24px; /* Отступ сверху для строки состояния */
}

.screenWrapper {
  width: calc(100% / 3);
  height: 100%;
  flex-shrink: 0;
}

.loadingFallback {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
