.sectionPaper {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--surface);
  transition: background-color 0.3s ease;
}

.sectionHeader {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.sectionIcon {
  display: inline-flex;
  margin-right: 1rem;
  color: var(--primary-color);
  transition: color 0.3s ease;
}

.sectionTitle {
  color: var(--text-primary);
}
